<header>
    <div class="logo">
        <h1>My Website</h1>
    </div>
    <nav>
        <ul>
            <li><a href="#" [routerLink]="['./home']" rouerLinkActive="iconActive">Home</a></li>
            <li><a href="#" [routerLink]="['./todos']" rouerLinkActive="iconActive">Todos</a></li>
            <li><a href="#" [routerLink]="['./contactus']" rouerLinkActive="iconActive">Contact</a></li>
            <li><a href="#" [routerLink]="['./AboutUs']" rouerLinkActive="iconActive">About</a></li>
            <!-- <li><a href="#" [routerLink]="['./home']" rouerLinkActive="iconActive">Services</a></li> -->
        </ul>
    </nav>
</header>